---
import { Image } from "astro:assets";
import { withBase } from "../../utils/config-utils.ts";
const rightArrowSquareImageUrl = withBase("/images/right-arrow-square.svg");
---

<div class="audit-landing-page">
  <div class="paiment-container">
    <p class="paiment">Paiement total</p>
    <h2>Audit de landing page</h2>
  </div>

  <p class="check-list-item">Ce que tu peux espérer :</p>
  <ul>
    <li>
      <Image
        src={rightArrowSquareImageUrl}
        alt="Warning!"
        class="right-arrow-icon"
        width={12}
        height={12}
      />
      <span>Optimisation des conversions</span>
    </li>
    <li>
      <Image
        src={rightArrowSquareImageUrl}
        alt="Warning!"
        class="right-arrow-icon"
        width={12}
        height={12}
      />
      <span>Analyse de contenu</span>
    </li>
    <li>
      <Image
        src={rightArrowSquareImageUrl}
        alt="Warning!"
        class="right-arrow-icon"
        width={12}
        height={12}
      />
      <span>Amélioration de l'UX/UI</span>
    </li>
    <li>
      <Image
        src={rightArrowSquareImageUrl}
        alt="Warning!"
        class="right-arrow-icon"
        width={12}
        height={12}
      />
      <span>Stratégie SEO renforcé</span>
    </li>
  </ul>

  <p class="check-list-item">Ce que tu vas obtenir :</p>
  <ul>
    <li>
      <Image
        src={rightArrowSquareImageUrl}
        alt="Warning!"
        class="right-arrow-icon"
        width={12}
        height={12}
      />
      <span>Rapport d'audit détaillé</span>
    </li>
    <li>
      <Image
        src={rightArrowSquareImageUrl}
        alt="Warning!"
        class="right-arrow-icon"
        width={12}
        height={12}
      />
      <span>Recommandations ciblées</span>
    </li>
    <li>
      <Image
        src={rightArrowSquareImageUrl}
        alt="Warning!"
        class="right-arrow-icon"
        width={12}
        height={12}
      />
      <span>Plan d'optimisation</span>
    </li>
    <li>
      <Image
        src={rightArrowSquareImageUrl}
        alt="Warning!"
        class="right-arrow-icon"
        width={12}
        height={12}
      />
      <span>Suivi des performances</span>
    </li>
  </ul>

  <p class="check-list-item">Ce que dois faire maintenant :</p>
  <ul>
    <li>
      <Image
        src={rightArrowSquareImageUrl}
        alt="Warning!"
        class="right-arrow-icon"
        width={12}
        height={12}
      />
      <span>Préparer les informations</span>
    </li>
    <li>
      <Image
        src={rightArrowSquareImageUrl}
        alt="Warning!"
        class="right-arrow-icon"
        width={12}
        height={12}
      />
      <span>Fixer un rendez-vous</span>
    </li>
  </ul>
</div>

<style>
  .paiment-container {
    margin-bottom: 1.6rem;
  }

  .audit-landing-page {
    width: 44rem;
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 2.8rem;
    padding-left: 2.8rem;
  }

  .audit-landing-page * {
    font-size: 1.2rem;
  }

  .paiment {
    color: #777;
  }

  .check-list-item {
    margin-top: 2.4rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  h2 {
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 0.8rem;
  }

  li {
    margin-top: 0.4rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  li span {
    padding-bottom: 0.16rem;
  }
</style>
